body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Define CSS styles for the legend */
.legend {
  background-color: white;
  padding: 30px;
  border: 1px solid #ccc;
  font-size: 20px;
  vertical-align: middle;
}

/* Style the color swatches within the legend */
.legend i {
  width: 30px;
  height: 25px;
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.leaflet-control-layers {
  width: 250px;
  font-size: 16px
};

